/* ----- general ----- */

:root {
--text-link : rgb(105, 105, 105);
--primary: #6794bf;
--secondary: #afc7de;
--tertiary: #d3e0ed;

}

html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0!important;
}

a {
    /* text-decoration: none;
    color: var(--text-link);
    height: 4vh;
    background-color: transparent;
    color: var(--text-link);
    cursor: pointer;
    border-radius: 0;
    border: none;
    outline: none;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1px 6px;
    font: 400 13.3333px Arial;
    font-size: 16px; */
}

a:hover {
    border-bottom: 1px solid var(--text-link);
}

b {
    font-size: 18px;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    overflow: auto;
    flex-direction: column;
    background-color: var(--tertiary);
    padding: 5% 5%;
    margin: 2% 10%;
    border: 1px var(--tertiary) solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.23), -1px -1px 5px rgba(0,0,0,0.23);
}

main{
    background: #e7e7e7;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255,255,255,.5) 8px, rgba(255,255,255,.5) 10px);
    overflow: auto;
}

/* ----- navbar ----- */
.brand-logo {
    margin: 10px 0;
}
.nav {
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 0.5% 10%;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.32), 0 6px 6px rgba(0,0,0,0.23);
    transition: top 1s;
}

.nav-hide {
    top: -100px;
}

.btn-container {
    padding: 0 1%;
}

.btn {
    height: 6vh;
    background-color: transparent;
    color: var(--text-link);
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    border: none;
    outline: none;
    padding-bottom: 1px;
}

.btn:hover {
    border-bottom: 1px solid rgb(105,105,105);
}

/* ----- intro ----- */

.intro {

}

.placeholder-image {
    height: 300px;
    width: 200px;
}

/* ----- project ----- */


.projects {

}

.project {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
}

.project p {
    font-size: 18px;
    display: block;
    line-height: 1.7em;
}

.project-title {
    font-size: 20px;
    font-weight: 400;
}

.project-box {
    height: 35vh;
    align-items: flex-start;
    margin-top: 3vh;
}

.project-box img {
    cursor: pointer;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -o-crisp-edges;           /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
.project-specs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--secondary);
    padding: 1vh;
    margin-right: 1%;
    width: 49%;
}

.project-link {
    text-decoration: none;
    color: var(--text-link);
    border-bottom: 1px solid transparent;
}

.project-link:hover {
    border-bottom-color: var(--text-link);
}

.screenshot {
    display: flex;
    width: 50%;
}

/* ----- contact ----- */
.contact {
    padding: 5% 20%;
}
/* ----- lightbox ----- */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.lightbox-active {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#lightbox-image {
    width: 60%;
    border: 10px groove rgb(196, 216, 202);
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -o-crisp-edges;           /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}




/*---NEW---*/

h4, h5 {
    color: #5d5d5d;
    font-weight: 400;
    line-height: 2em;
    margin: -1em 0 0.2em 0;
    font-size: 18px;
}

h6 {
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.5em;
    color: #787878;
    margin: -0.4em 0 0.8em 0;
}

p {
    margin: 0 0 5em 0;
    color: #a2a2a2;
}

.homepage{
    scroll-snap-align: start;
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.title-card {
    color: #000;
    margin: 15% 15% 0 7%;
}

.name {
    font-size: 50px;
    font-weight: 400;
}

.profession {
    font-size: 35px;
    font-weight: 300;
}

.contact-info {
    margin-left: 7%;
    margin-top: 7px;
    width: 93%;
    display: inline-block;
}

.contact-info > a {
    text-decoration: none;
    color: var(--primary);
}

.next-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    
}

.next {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(white,gray);
}

.prev {
    position: absolute;
    top: 0;
    background-image: linear-gradient(gray, black);
}


.next-link {
    display: flex;
    text-decoration: none;
    color: var(--primary);
}

.info-link {
    float: left;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.project-page {
    scroll-snap-align: start;
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.row {
    display: flex;
    width: 100%;
    position: absolute;
    top: 200px;
}

.project-holder {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin: 0 5%;
}

.project-holder > img {
    width: 100%;
    min-height: 60%;
    margin-bottom: 20px;
}