/* ----- general ----- */

:root {
--text-link : rgb(105, 105, 105);
--primary: #6794bf;
--secondary: #afc7de;
--tertiary: #d3e0ed;

}

html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0!important;
}

/* ----- lightbox ----- */
/* #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.lightbox-active {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#lightbox-image {
    width: 60%;
    border: 10px groove rgb(196, 216, 202);
    image-rendering: -moz-crisp-edges;         
    image-rendering: -o-crisp-edges;           
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  
} */
/* PAGES */

h4, h5 {
    color: #d3d3d3;
    font-weight: 400;
    line-height: 2em;
    margin: -1em 0 0.2em 0;
    font-size: 18px;
}

h6 {
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.5em;
    color: #acacac;
    margin: -0.4em 0 0.8em 0;
}

p {
    margin: 0 0 5em 0;
    color: #a2a2a2;
}

.homepage{
    scroll-snap-align: start;
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.title-card {
    color: #000;
    margin: 15% 15% 0 7%;
}

.name {
    font-size: 50px;
    font-weight: 400;
}

.profession {
    font-size: 35px;
    font-weight: 300;
}

.contact-info {
    margin-left: 7%;
    margin-top: 7px;
    width: 93%;
    display: inline-block;
}

.contact-info > a {
    text-decoration: none;
    color: var(--primary);
}
.contact-info > a:hover {
    border-bottom: 1px solid var(--text-link);
}

.next-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    
}

.next {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(white,gray);
    color: rgb(0, 0, 0);
}

.prev {
    position: absolute;
    top: 0;
    background-image: linear-gradient(gray, black);
    color: rgb(255, 255, 255);
}


.next-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.next-link:hover {
    border-bottom: 1px solid var(--text-link);
}

.info-link {
    float: left;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.project-page {
    scroll-snap-align: start;
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.row {
    display: flex;
    width: 100%;
    position: absolute;
    top: 200px;
}

.project-holder {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin: 0 5%;
}

.screenshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    height: 30vh;
}

.screenshot {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bull {
    background-image: url('./assets/bull-flagger.PNG');
}

.smpl {
    background-image: url('./assets/SMPL.PNG')
}

.website-link {
    margin: auto;
    position: absolute;
    visibility: hidden;
    text-decoration: none;
    color: white;
    background-color: rgba(44, 44, 44, 0.795);
    /* border: 1px black solid; */
    border-radius: 10px;
    padding: 0.5% 1%;
    /* transition: 0.5s; */
    z-index: 10;
}

.screenshot:hover {
    opacity: 0.3;
}
.screenshot-container:hover .website-link {
    visibility: visible;
}

.website-link:hover + .screenshot{
    opacity: 0.3;
}

.website-link:hover {
    color:white;
    background-color: black;
}

.website-link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: padding-right 0.5s;
}

.website-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.website-link:hover span {
    padding-right: 25px;
}
  
.website-link:hover span:after {
    opacity: 1;
    right: 0;
}




